extends layout

block content
    h3 #{title}
    blockquote
      p.lead.text-success #{message}

    a(href="/session_booked", class="btn btn-primary" data-toggle="tooltip" title="Book a free pre assessment session") Upcoming Music Therapy Evaluation Sessions >>
    